services:
  # NS3 simulator container
  ns3-sim:
    # Uncomment build field to rebuild the image if change
    #build:
    #  context: .
    #  dockerfile: Dockerfile.ns3
    image: ndminh1212/uav-gs:ns3-sim
    container_name: ns3_sim
    entrypoint: ["/bin/bash", "-c", "/ros_entrypoint.sh && /uav-gs/veth_setup.sh 2"]
    volumes:
      - ./ns3_veth_setup.sh:/uav-gs/veth_setup.sh
    privileged: true
    networks:
      uav_br:
        ipv4_address: 172.30.0.254
    environment:
      - LD_LIBRARY_PATH=/ns3/build/lib

  # Ground station (UAV1) container
  gs:
    #build:
    #  context: .
    #  dockerfile: Dockerfile.uav
    image: ndminh1212/uav-gs:uav
    container_name: uav1
    entrypoint: ["/bin/bash", "-c", "/ros_entrypoint.sh && /uav/veth_setup.sh 1"]
    volumes:
      - ./uav_veth_setup.sh:/uav/veth_setup.sh
      - ./result/ground-station:/uav/result
    network_mode: none
    cap_add:
      - NET_ADMIN

  # Drone container
  uav:
    #build:
    #  context: .
    #  dockerfile: Dockerfile.uav
    image: uav-img
    container_name: uav2
    entrypoint: ["/bin/bash", "-c", "/ros_entrypoint.sh && /uav/veth_setup.sh 2"]
    build:
      context: ./uav
    volumes:
      - ./uav_veth_setup.sh:/uav/veth_setup.sh
      - "${AIRSIM_DIR}:/AirSim"
      - ./result/uav:/uav/result
    environment:
      - WSL_HOST_IP=${WSL_HOST_IP}
    networks:
      uav_br:
        ipv4_address: 172.30.0.2 
    cap_add:
      - NET_ADMIN
    depends_on:
      px4:
        condition: service_healthy

  # SITL container
  px4:
    image: px4io/px4-dev-base-jammy
    container_name: px4_sitl
    volumes:
      - ${PX4_DIR}:/PX4-Autopilot/:rw
      - /tmp/.X11-unix:/tmp/.X11-unix:ro
      - ./px4_script.sh:/px4_script.sh
    environment:
      - LOCAL_USER_ID="$(id -u)"
      - DISPLAY=${WSL_HOST_IP}:0
      - PX4_SIM_HOST_ADDR=${WSL_HOST_IP}
    network_mode: host
    privileged: true
    entrypoint: ["/bin/bash", "-c", "/px4_script.sh 1"]
    healthcheck:
      test: ["CMD", "test", "-d", "/PX4-Autopilot/build/px4_sitl_default/instance_0"]
      interval: 10s
      retries: 5
      start_period: 10s
      timeout: 5s

networks:
  uav_br:
    driver: bridge
    ipam:
      config:
        - subnet: 172.30.0.0/24
          gateway: 172.30.0.1